h1 {
    text-align: center;
}
table, th, td {
    margin: 0 auto 0 auto;
    border-collapse: collapse;
    border: 1px solid blue;
}

.image-style {
    display: inline;
}

p {
    font-family: Arial, 'Times New Roman', serif;
}